#clockcontainer{
    position: relative;
    margin: auto;
    border:2px solid red;
    width: 40vw;
    height:40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1%;
    height: 22%;
    top: 28%;
    left: 49.4%;
    opacity:0.8;
}

#minute{
    width: 0.8%;
    height: 35%;
    top: 15%;
    left: 49.4%;
    opacity:0.8;
}

#second{
    width: 0.5%;
    height: 35%;
    top: 15%;
    left: 49.4%;
    opacity:0.8;
}